body{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}
nav{
    width: 100%;
}
.navbar-dark .navbar-toggler{
    border-width: 1.5px;
    border-color: white;
    opacity: 0.5;
}
.navbar-dark .navbar-nav .nav-link {
    color: white
    
}

li.nav-item{
    padding: 0;
    margin: 0;
    text-align: center;
}
hr{
    border-top: 1px solid white;
    /* width: 80%; */
}
#navbarTogglerDemo02{
    background-color: #2D5E80;
}


a.navbar-brand{
    font-size: 2.5em;
}

h2.text-center {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.article{
    background-color: #007bff;
    color: black;
    font-size: 1.5em;
    padding-left: 10px;
}
.article h3{
    font-weight: bold;
    color: white;
    font-size: 1.5em;

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px){ 
    .col-xs-12{
        margin: 0 20px;
    }
 }

